{{define "index"}}
<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="google-site-verification" content="r_B0iJoYyRbARxL8uum1-mDbDdsv5e0S2LeTiub_kok" />
  <meta name="yandex-verification" content="33f54f0aae655d5f" />

  <meta name="description"
        content="Простой, понятный и бесплатный калькулятор НДФЛ {{.CurrentYear}}: расчёт налога по прогрессивной шкале, региональным коэффициентам и вашей месячной зарплате с помесячной детализацией.">
  <meta name="keywords" content="калькулятор НДФЛ {{.CurrentYear}}, расчет НДФЛ, зарплата на руки, подоходный налог, НДФЛ прогрессивная шкала, налог 2025, расчет зарплаты">
  

  <meta property="og:title" content="Простой, понятный и бесплатный калькулятор НДФЛ {{.CurrentYear}}">
  <meta property="og:description" content="Помесячная детализация ваших доходов, НДФЛ и взносов по прогрессивной шкале.">
  <meta property="og:url" content="https://calculator-ndfl.ru">
  <meta property="og:type" content="website">
  <meta property="og:image" content="/static/preview.png">

  <script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "WebApplication",
    "name": "Калькулятор НДФЛ",
    "url": "https://calculator-ndfl.ru",
    "operatingSystem": "All",
    "applicationCategory": "FinanceApplication",
    "description": "Простой, понятный и бесплатный калькулятор НДФЛ 2025. Без лишнего текста. Расчёт по прогрессивной шкале от вашей месячной зарплаты, с детализацией.",
      "creator": {
        "@type": "Person",
        "name": "Independent Developer"
      }
  }
  </script>

  <title>Калькулятор НДФЛ {{.CurrentYear}} — прогрессивный налог и зарплата на руки</title>

  
  <link rel="stylesheet" href="/static/style.css">

  <!-- favicon -->
  <link rel="icon" href="/static/favicon.ico" type="image/x-icon">
  <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon">
</head>

<script>
window.APP_CONFIG = {
    minSalary: {{getMinSalary}},
};
</script>
<script src="/static/script.js" defer></script>

<body>
  

  <main>
  <header>
    <h1>Калькулятор НДФЛ</h1>
    <h4>Быстрый и точный расчет по прогрессивной шкале для физических лиц</h4>
  </header>

    <form action="/calculate" method="post" class="form" 
      data-min-salary="{{getMinSalary}}" novalidate>
      <!-- оклад -->
<div class="field-row">
    <div class="field-left">
        <div class="field-header">
            <div class="field-tooltip">
                <span class="tooltip-icon">?</span>
                <div class="tooltip-text">Укажите ваш оклад, указанный в трудовом договоре. Это сумма до вычета налогов и без надбавок.</div>
            </div>
            <label for="grossSalary">Оклад:</label>
        </div>
    </div>
    
    <div class="field-right">
        <div class="salary-field-container">
            <div class="salary-field">
                <input
                  type="text"
                  id="grossSalary"
                  name="grossSalary"
                  inputmode="decimal"
                  required
                  placeholder="Введите сумму"
                />
                <span class="ruble">₽</span>
            </div>
        </div>
    </div>
</div>

<!-- дата начала расчёта -->
      <div class="field-row">
        <div class="field-left">
          <div class="field-header">
            <div class="field-tooltip">
              <span class="tooltip-icon">?</span>
              <div class="tooltip-text">На этом этапе расчёт выполняется с 1-го числа выбранного месяца текущего года.</div>
            </div>
            <label>Дата начала расчёта:</label>
          </div>
        </div>
        <div class="field-right date-field">
          <span>01</span>
          <select name="startDate">
            {{range .Months}}
            <option value="{{.Value}}" {{if eq .Value "01"}}selected{{end}}>{{.Label}}</option>
            {{end}}
          </select>
          <span>{{.CurrentYear}}</span>
        </div>
      </div>


      <button type="button" class="additional-toggle">
      <span class="icon-plus">
        <svg width="22" height="22" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <circle cx="12" cy="12" r="10" stroke="#2980b9" stroke-width="2" opacity="0.55"/>
        <path d="M12 7V17" stroke="#2980b9" stroke-width="2.4" stroke-linecap="round"/>
        <path d="M7 12H17" stroke="#2980b9" stroke-width="2.4" stroke-linecap="round"/>
        </svg>
      </span>
        Дополнительные параметры (коэффициенты, льготы)
      </button>


<div id="additional-params" class="hidden">
  <!-- территориальный коэффициент -->
<div class="field-row">
  <div class="field-left">
    <div class="field-header">
      <div class="field-tooltip">
        <span class="tooltip-icon">?</span>
        <div class="tooltip-text">
          Устанавливается в зависимости от региона, где вы работаете. 
          Например, для районов Крайнего Севера применяются повышающие коэффициенты.
        </div>
      </div>
      <label for="territorialMultiplier">Территориальный коэффициент:</label>
    </div>
    <a href="/regional-info" class="under-title">Подробнее →</a>
  </div>

  <div class="field-right date-field">
    <select id="territorialMultiplier" name="territorialMultiplier" class="wide-select">
      <option value="100" selected>— без коэффициента —</option>
      {{range .Territorial}}
        <option value="{{.Value}}">{{.Label}}</option>
      {{end}}
    </select>
  </div>
</div>

      <!-- северная надбавка -->
<div class="field-row">
  <div class="field-left">
    <div class="field-header">
      <div class="field-tooltip">
        <span class="tooltip-icon">?</span>
        <div class="tooltip-text">
          Северная надбавка зависит от региона и стажа работы. 
          Начисляется постепенно с увеличением процента за каждый год работы.
        </div>
      </div>
      <label for="northernCoefficient">Северная надбавка:</label>
    </div>
    <a href="/regional-info" class="under-title">Подробнее →</a>
  </div>

  <div class="field-right date-field">
    <select id="northernCoefficient" name="northernCoefficient" class="wide-select">
      <option value="100" selected>— без надбавки —</option>
      {{range .Northern}}
        <option value="{{.Value}}">{{.Label}}</option>
      {{end}}
    </select>
  </div>
</div>


      <!-- чекбоксы -->
      <div class="field-row">
        <div class="field-left">
          <div class="field-header">
            <div class="field-tooltip">
              <span class="tooltip-icon">?</span>
              <div class="tooltip-text">Укажите льготы или ограничения, если они есть. Они повлияют на итоговый расчёт налогов.</div>
            </div>
            <label>Параметры:</label>
          </div>
          <a href="/special-tax-modes" class="under-title">Подробнее →</a>
        </div>
        <div class="field-right checkbox-column exclusive-checkboxes">
    <label class="checkbox-inline exclusive-option">
        <input type="checkbox" name="hasTaxPrivilege"> 
        <span>Льготы для силовых структур</span>
      </label>
      <label class="checkbox-inline exclusive-option">
        <input type="checkbox" name="isNotResident"> 
        <span>Налоговый нерезидент</span>
      </label>
      </div>
</div>
</div>

      <button type="submit" class="calculate-btn">Рассчитать</button>

      <div class="calculator-note">
        <p>
          🔍 Все расчёты выполняются по открытым формулам и <b>не сохраняются на сервере</b>.
          Калькулятор предназначен исключительно <i>для справочных целей</i>, чтобы вы могли
          оценить свой чистый доход и размер НДФЛ, который будете уплачивать после 2025 года.
        </p>
      <a href="/how-it-works" class="calculator-link">подробнее о работе калькулятора →</a>
      </div>
    </form>
  </main>

  <footer>
    <small>© {{.CurrentYear}} Калькулятор НДФЛ</small>
  </footer>
</body>
</html>
{{end}}